<mat-toolbar color="primary">
    <mat-toolbar-row>


        <span> Employee Management </span>
 
        <button mat-icon-button (click)="toggleSideBar()" style="margin-left: 8%;">
            <mat-icon>menu</mat-icon>
        </button>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <label>Settings</label>
                    <button mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>