<div [hidden]="submitted">
<form (ngSubmit)="onSubmit()" class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Add Employee</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input [(ngModel)]="employee.firstName" name="firstName" matInput placeholder="First name" required="true">
          </mat-form-field>
        </div>
        
         <div class="col-md-6">
          <mat-form-field class="full-width">
            <input  id="lastName" required [(ngModel)]="employee.lastName" name="lastName" matInput placeholder="Last name">
          </mat-form-field>
         </div>
                 
        <div class="col-sm-6">
          <mat-form-field class="full-width">
            <input type="email" id="emailId" required [(ngModel)]="employee.emailId" name="emailId" matInput placeholder="Email Id">
          </mat-form-field>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field class="full-width">
            <textarea  id="address" required [(ngModel)]="employee.address" name="address" matInput placeholder="Address"></textarea>
          </mat-form-field>
        </div>
      </div>
     
    </mat-card-content>

    <mat-card-actions>
      <button type="submit" mat-raised-button color="primary">Save</button>
    </mat-card-actions>
  </mat-card>
</form>
</div>

<div [hidden]="!submitted">
  <h4>Employee Added successfully!</h4>
  <button mat-raised-button color="primary" (click)="newEmployee()">Add More</button>
</div>