
<div>
  <h3>Employees List</h3>
</div>

<mat-form-field appearance="outline">
   <mat-label>Search</mat-label>
   <input matInput placeholder="search" (keyup)="applyFilter($event)">
   <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<div>
<mat-table [dataSource]="dataSource" matSort>

  <ng-container  matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>No</mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </mat-cell>
</ng-container>
  
  <ng-container  matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
    <mat-cell *matCellDef="let employee">{{employee.firstName}}</mat-cell>
</ng-container>

<ng-container  matColumnDef="lastName">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
  <mat-cell *matCellDef="let employee">{{employee.lastName}}</mat-cell>
</ng-container>

<ng-container  matColumnDef="emailId">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Email Id</mat-header-cell>
  <mat-cell *matCellDef="let employee">{{employee.emailId}}</mat-cell>
</ng-container>

<ng-container  matColumnDef="address">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
  <mat-cell *matCellDef="let employee">{{employee.address}}</mat-cell>
</ng-container>

<ng-container  matColumnDef="action">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
  <mat-cell *matCellDef="let employee"><button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="updateEmployee(employee.id)"> 
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button mat-menu-item (click)="deleteEmployee(employee.id)">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
    <button mat-menu-item (click)="employeeDetails(employee.id)">
      <mat-icon>info</mat-icon>
      <span>Details</span>
    </button>
  </mat-menu></mat-cell>
</ng-container>

<mat-header-row *matHeaderRowDef="columns"></mat-header-row>
<mat-row *matRowDef="let employee; columns: columns"></mat-row>
</mat-table>

  <mat-paginator [length]="employees.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50, 100]">
</mat-paginator>
</div>
